<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallpaperhub.akaks09developers.wallpaperhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallpaperhubicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wallpaperhubicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Category_Activity.wildlife" />
        <activity android:name=".Category_Activity.water" />
        <activity android:name=".Category_Activity.road" />
        <activity android:name=".Category_Activity.portrait" />
        <activity android:name=".Category_Activity.old" />
        <activity android:name=".Category_Activity.night" />
        <activity android:name=".Category_Activity.adventure" />
        <activity android:name=".Category_Activity.music" />
        <activity android:name=".Category_Activity.nature" />
        <activity android:name=".Category_Activity.baby" />
        <activity android:name=".Category_Activity.friend" />
        <activity android:name=".Category_Activity.food" />
        <activity android:name=".Category_Activity.flowers" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.weekFullView" />
        <activity android:name=".Activity.BrowseActivity" />
        <activity android:name=".Activity.Home_Page_Activity" />
    </application>

</manifest>